.large-hero {
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: left;
    padding: 20px 0;
  }

  &__title {
    font-weight: 300;
    color: $mainYellow;
    font-size: 2rem;
    margin: 0;

    @mixin atMedium {
      font-size: 4.2rem;
    }

    @mixin atLarge {
      font-size: 5.2rem;
    }
  }

  &__subtitle {
    font-weight: 300;
    color: $mainYellow;
    font-size: 1.4rem;
    margin: 0;

    @mixin atMedium {
      font-size: 2.5rem;
    }

    @mixin atLarge {
      font-size: 3.1rem;
    }
  }

  &__description {
    font-weight: 100;
    color: $mainWhite;
    font-size: 1.1rem;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.1);
    max-width: 35rem;
  }

  @mixin atSmall {
    font-size: 1.875rem;
  }
}
