.modal {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($mainBlack, 0.99);
  color: $mainWhite;
  z-index: 5;
  display: flex;

  &--is-visible {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__inner {
    flex: 1;
    margin: auto;
  }

  &__description {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.65;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    font-weight: 300;
    color: $mainWhite;
    transform: scaleX(1.3);
    transform-origin: 100% 0;
    cursor: pointer;

    &:hover {
      color: $mainYellow;
    }
  }
}
