.page-section {
  padding: 2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }

  &--black {
    background-color: $mainBlack;
    color: $mainWhite;
  }

  &__rounded {
    border-radius: 1.2rem;
    width: 100%;
  }

  &--pricing {
    background-color: $mainWhite;

    @mixin atMedium {
      background: url("./assets/images/pricing-guide-bg.jpg") top center no-repeat;
      background-size: cover;
    }
  }
}
