.row {
  @mixin clearfix;

  &--gutters {
    margin-right: -65px;
  }

  &--gutters-small {
    margin-right: -35px;
  }

  &--gutters-large {
    margin-right: -100px;
  }

  &--gutters > div {
    padding-right: 65px;
  }

  &--gutters-small > div {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 35px;
  }

  &--gutters-large > div {
    padding-right: 100px;
  }

  &__b-margin-untill-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    &__b-margin-untill-medium {
      margin-bottom: 0;
    }

    &__medium-3 {
      float: left;
      width: 25%;
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-6 {
      float: left;
      width: 50%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }
  }

  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
      margin-bottom: 2rem;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
}
