.site-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 68px;
  padding: 12px 0;
  background-color: rgba($mainBlack, 0.95);

  @mixin atSmall {
    height: auto;
  }

  &__btn-container {
    @mixin atSmall {
      float: right;
    }
  }

  &__logo {
    position: absolute;
    width: 7rem;
    top: 0;

    @mixin atSmall {
      width: 8.5rem;
    }

    img {
      border-radius: 0 0 20px 20px;
      box-shadow: rgba(255, 255, 255, 0.1) 4px 6px 12px;
    }
  }

  &__menu-content {
    opacity: 0;
    padding-top: 75px;
    transition: all 0.3s ease-out;
    width: 50%;
    height: 100vh;
    text-align: center;
    background-color: $mainBlack;
    position: absolute;
    top: 0;
    right: -250px;
    text-align: right;
    padding-right: 15px;

    @mixin atSmall {
      opacity: 1;
      padding-top: 0;
      z-index: 1;
      width: auto;
      text-align: left;
      background-color: none;
      position: relative;
      height: auto;
      right: 0;
      padding-right: 0;
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      right: 0;
    }
  }

  &__menu-icon {
    position: absolute;
    width: 30px;
    height: 28px;
    top: 20px;
    right: 20px;
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: $mainWhite;
      transform-origin: 0 0;
      transition: transform 0.3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 12px;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: $mainWhite;
      transition: all 0.3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: $mainWhite;
      transform-origin: 0 100%;
      transition: transform 0.3s ease-out;
    }

    &--close-x {
      &::before {
        transform: rotate(45deg) scaleX(1.2);
      }

      .site-header__menu-icon__middle {
        opacity: 0;
        transform: scaleX(0);
      }

      &::after {
        transform: rotate(-45deg) scaleX(1.2);
      }
    }

    @mixin atSmall {
      display: none;
    }
  }
}
