.wrapper {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  overflow: hidden;
  max-width: 1735px;
  margin-left: auto;
  margin-right: auto;

  @mixin atSmall {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  @mixin atMedium {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @mixin atLarge {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  &--narrow {
    max-width: 1300px;
  }

  &--wide {
    max-width: 2000px;
  }
}
